//Limits the size of the carousel
.carousel-height {
    height: 400;
    width: 700;
    max-width: 700;
}

.oswald-font {
    font-family: 'Oswald', sans-serif;
}

.link-color {
    color: $danger;
}

.list-group-item {
    background-color: gainsboro;
}

